<form method ="GET">
    <div class="ranking-button">
       <button type="submit" formaction="/ranking" ><img src="images/ranking.png" alt="Ranking"></button>
    </div>
    <div class="game-logo">
        <img src="images/logo.svg" alt="JS Genius">
    </div>
    <div class="start-game-button">
        <button type="submit" formaction="/play">Iniciar Jogo</button>
    </div>
</form>